# LOOPS

## FOR

### Loop through a list

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

In [ ]:
fruits = ['apple', 'orange', 'banana', 'melon', 'pineapple']

for item in fruits:
    print(item)

In [ ]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number * number)

### Loop through a string

In [ ]:
text = 'Hello, World'

for char in text:
    print(char)

### Loop through range

In [ ]:
for i in range(5):
    print(i)

In [ ]:
for i in range(5):
    print(2 * i)

### Nested loops

In [ ]:
for outer in range(3):
    for inner in range(3):
        print(f'outer = {outer}    inner = {inner}')

In [ ]:
for page in range(1, 6):
    for item in range(1, 11):
        print(f'page: {page}  item: {item}')

### ELSE
Executed when the loop completed normally.

In [ ]:
fruits = ['apple', 'banana', 'orange', 'pineapple']

for fruit in fruits:
    print(fruit)
else:
    print('**I am out of fruits**')

### BREAK
Exits the loop. Mostly used with if statement.

In [ ]:
for i in range(10):
    if i == 7:
        print('Got into if statement. Breaking...')
        break
    print(i)

### CONTINUE
Skips current iteration and moves to next.

In [ ]:
for i in range(10):
    if i == 2 or i == 7:
        print('Got into if statement. Skipping this step...')
        continue
    print(i)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    if number % 2 == 0:
        print('even number. skipping...')
        continue
    print(number)

### ENUMERATE
Allows you to loop over a sequence and have an automatic counter.

In [ ]:
fruits = ['apple', 'banana', 'orange', 'pineapple']

i = 0
for fruit in fruits:
    print(f'index = {i}, fruit = {fruit}')
    i += 1

In [ ]:
fruits = ['apple', 'banana', 'orange', 'pineapple']

for i, fruit in enumerate(fruits):
    print(f'index = {i}, fruit = {fruit}')

### ZIP
Allows you to loop over multiple sequences at the same time.

In [ ]:
names = ['John', 'Elvis', 'Michael']
points = [78, 66, 90]

for name, point in zip(names, points):
    print(f'{name} has {point} points')

In [ ]:
names = ['John', 'Elvis', 'Michael']
points = [78, 60]

for name, point in zip(names, points):
    print(f'{name} has {point} points')

## WHILE

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

In [ ]:
i = 10
while i != 0:
    print(i)
    i -= 1

In [ ]:
my_data = ['fine', 'fine', 'fine', 'fine', 'corrupted', 'fine']

index = 0
while my_data[index] != 'corrupted':
    print(my_data[index])
    index += 1

### WHILE TRUE

In [ ]:
while True:
    command = input('Enter a command: ')
    if command == 'quit':
        break
    print('Going next')

In [ ]:
numbers = [-4, -3, -2, -1, 0, 1, 2]

i = 0
while True:
    try:
        x = 10 / numbers[i]
        print(x)
    except:
        print('Error. Breaking from loop.')
        break
    i += 1