# EXERCISE 5: LOOPS

In [ ]:
numbers = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]

### Print every number in the list above using a for loop.

In [ ]:
for number in numbers:
    print(number)

### Print only even numbers.

In [ ]:
for number in numbers:
    if number %2 == 0:
        print(number)

### Print only even numbers using 'continue'

In [ ]:
for number in numbers:
    if number % 2 != 0:
        continue
    print(number)

### Print all numbers but skip 5

In [ ]:
for number in numbers:
    if number == 5:
        continue
    print(number)

### Stop the loop when you get number 7

In [ ]:
for number in numbers:
    if number == 7:
        break
    print(number)

### Print all numbers again using a range function.

In [ ]:
for i in range(1, 11):
    print(i)

### Print numbers lower than 9 using a while loop. You need to define a counter.

In [ ]:
i = 0

while numbers[i] < 9:
    print(numbers[i])
    i = i + 1

In [ ]:
text = 'Hello, World. I use Python for programming.'

### Loop through the text above and print the characters but change letter 'o' with '*'

In [ ]:
for char in text:
    if char == 'o':
        print('*')
    else:
        print(char)

### Loop through the text again and count the number of letter 'o' in it. You need to create a counter and print it at the end.

In [ ]:
counter = 0
for char in text:
    if char == 'o':
        counter += 1
print(counter)

### Create a for loop that can sum the numbers in a range and print it. Hint: Start with a variable sum = 0.

In [ ]:
sum = 0
lower_limit = 0
upper_limit = 10

for i in range(lower_limit, upper_limit + 1):
    sum += i

print(sum)

In [ ]:
grades = {'Bob': 80, 'Marry': 75, 'Alice': 92, 'John': 60, 'Charlie': 78, 'Ken': 100, 'Monica': 60, 'Joffrey': 65}

### Loop though the grades dictionary above and calculate the average grade. Hint: average = total / number of grades

In [ ]:
total = 0

for grade in grades.values():
    total += grade

average = total / len(grades)
print(average)

### Create a multiplication table using a nested loop.

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(f"{i} * {j} = {i * j}")
    print()

In [ ]:
numbers = [34, 67, 23, 90, 12, 78, 56]

### Use a loop to find maximum value in the list above. Hint: Start by setting the max_value to the first element in the list and start the loop from the second element.

In [ ]:
max_value = numbers[0]

for element in numbers[1:]:
    if element > max_value:
        max_value = element

print(max_value)