# EXERCISE 5: LOOPS

In [ ]:
numbers = [1, 2, 3, 4, 5 ,6, 7, 8, 9, 10]

### Print every number in the list above using a for loop.

### Print only even numbers.

### Print only even numbers using 'continue'

### Print all numbers but skip 5

### Stop the loop when you get number 7

### Print all numbers again using a range function.

### Print numbers lower than 9 using a while loop. You need to define a counter.

In [ ]:
text = 'Hello, World. I use Python for programming.'

### Loop through the text above and print the characters but change letter 'o' with '*'

### Loop through the text again and count the number of letter 'o' in it. You need to create a counter and print it at the end.

### Create a for loop that can sum the numbers in a range and print it. Hint: Start with a variable sum = 0.

In [ ]:
grades = {'Bob': 80, 'Marry': 75, 'Alice': 92, 'John': 60, 'Charlie': 78, 'Ken': 100, 'Monica': 60, 'Joffrey': 65}

### Loop though the grades dictionary above and calculate the average grade. Hint: average = total / number of grades

### Create a multiplication table using a nested loop.

In [ ]:
numbers = [34, 67, 23, 90, 12, 78, 56]

### Use a loop to find maximum value in the list above. Hint: Start by setting the max_value to the first element in the list and start the loop from the second element.