# EXERCISE 2: LISTS

In [ ]:
numbers = [3 ,7 ,22 ,6 ,90 ,58 ,0 ,13 , 6, 34, 34, 18, 6]

### Select the first element of the list

### Select the last element of the list

### Select the 6th element of the list

### Select the 6th element from the end of the list

### Select the first 3 elements of the list

### Select elements from index 4 to 10(inclusive)

### Select the last 3 elements of the list

### Change the 3rd element to 7

### Add number 10 to the end of the list

### Add [1, 2] to this list

### Delete 1 and 2 from the list

### Add number 11 to at the beginning of the list

### Find the index of number 90

### Find how many sixes in the list

### Sort the list

### Reverse sorted list

### Find the number of elements in the list

### Find the max and min values in the list and print them

### Find sum of the values in the list

### Define a variable called 'unique_list' and assign unique numbers of numbers list using set() function

### Remove all the items from the list

### DICTIONARIES

Create a dictionary of a person:
    name --> John
    surname --> Jones
    age --> 24
    city --> London
    job --> Programmer
    languages --> Python, Javascript, Java
    married --> No

### 5 Years later; John is married, forgot Java :), learned Dart language, moved to Madrid and acquired a middle name 'Ross'. Make necessary changes on the dictionary.

### Show the keys of person's dictionary

### Show the values